<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <link rel="icon" href="/img/weather.png" type="image">
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    {{>header}}
    {{>navbar}}
    <div class="aboutContainer">
        <div class="aboutHeading">
            Arun David
        </div>
        <img src="/img/image.png" alt="My Image" class="aboutMeImage">
        <div class="aboutMeContent">
            I'm an Electronics Engineer with Experience in Full Stack Development based in Hyderabad. <br> I make COOL things!, 
        </div>
    </div>
    {{>footer}}
</body>
</html>