<div class="nav">
    <a href="/">
        <div class="navItem  {{#if selectedW}}navSelected{{/if}}">
            Weather
        </div>
    </a>
    <a href="/about">
        <div class="navItem {{#if selectedA}}navSelected{{/if}}">
            About
        </div>
    </a>
    <a href="help">
        <div class="navItem {{#if selectedH}}navSelected{{/if}}">
            Help
        </div>
    </a>
</div>